@charset "utf-8";

body {padding-bottom: 56px;box-sizing: border-box;}
#youtube-bgm-player, #youtube-bgm-player * {box-sizing: border-box;}

#youtube-bgm-player {
    width: 100%;
    height: 56px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #37474F;
}


#youtube-bgm-player input.hidden {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.media {
    width: 100px;
    height: 56px;

    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
}

    .full-scr-shadow {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0);

        transition: background-color .2s ease,;

        cursor: pointer;
    }

    input:checked + .full-scr-shadow {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;

        background-color: rgba(0, 0, 0, .84);
    }

        #player {
            width: 100%;
            height: 100%;
            max-width: 100px;
            max-height: 56px;

            background-color: rgba(0, 0, 0);

            will-change: max-width, max-height;
            transition: max-width .2s ease,
                        max-height .2s ease;
            pointer-events: none;
        }
        input:checked + .full-scr-shadow > #player {
            height: 56.25vw;
            max-width: 853.4px;
            max-height: 480px;

            pointer-events: all;
        }

.information {
    width: auto;
    height: 56px;
    padding: 12px 16px;

    flex-grow: 1;
    flex-shrink: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .title {
        height: 16px;
        margin: 0;

        display: block;

        font-size: 16px;
        line-height: 1;
        text-align: left;
        color: rgba(255, 255, 255, .84);
    }

    .artist {
        height: 14px;
        margin-top: 2px;

        display: block;

        font-size: 14px;
        line-height: 1;
        text-align: left;

        color: rgba(255, 255, 255, .56);
    }


.action {
    display: flex;
    flex-direction: row;
    
    flex-grow: 0;
    flex-shrink: 0;
}

    .action__item {
        width: 60px;
        height: 56px;
        padding: 10px 12px;

        flex-grow: 0;
        flex-shrink: 0;

        display: block;

        cursor: pointer;
    }
    .action__item:hover {
        background-color: rgba(255, 255, 255, .1);
    }

        svg.action__icon-svg {
            width: 36px;
            height: 36px;

            display: block;

            fill: rgba(255, 255, 255, .84);
        }

        svg.action__icon-svg > * {transition: opacity .2s ease;}
        
        svg.action__icon-svg > .play-icon {opacity: 1;}
        svg.action__icon-svg > .pause-icon {opacity: 0;}
        input:checked + svg.action__icon-svg > .play-icon {opacity: 0;}
        input:checked + svg.action__icon-svg > .pause-icon {opacity: 1;}